html {
  font-size: 16px;
}

.container {
  width: 960px;
  max-width: 100%;
  margin: 0px auto;
}

.flex {
  display: flex;
}

h1 {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

li {
  padding-left: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

main {
  position: relative;
  top: 4rem;
  padding-bottom: 2rem;
}

/* HEADER */

/*NAV */

.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

nav {
  margin-right: 1.5rem;
}

.nav-bar {
  position: fixed;
  z-index: 10;
  background-color: white;
  height: 4rem;
  width: 960px;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
}

/* BANNER */

.banner {
  background-color: grey;
  max-width: 100%;
  position: relative;
  top: 4rem;
}

section, .section {
  padding: 2rem 0px;
}

.main-img {
  width: 60%;
  margin: 0px 1.5rem;
}

.main-img img {
  max-width: 100%;
}

.side {
  width: 40%;
  flex-direction: column;
  margin-right: 1.5rem;
}

.slogan {
  align-items: flex-start;
  justify-content: center;
}

.button {
  background-color: black;
  color: white;
  padding: 0.5rem 0px;
  width: 100%;
  text-align: center;
}

/* SECTION CAMPUS */

.article {
  padding-bottom: 1rem;
}

.article-img {
  width: 35%;
}

.article img {
  max-width: 100%;
}

.info {
  width: 65%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* SECTION COURSES */

#courses {
  background-color: gray;
}

section h2 {
  text-align: center;
}

.courses {
  padding: 2rem 4.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course {
  background-color: white;
  width: 32%;
  margin-bottom: 1rem;
}

.course img {
  max-width: 100%
}

.course-img {
  height: auto;
}

.course-info {
  padding: 1rem;
}

/* FOOTER */

footer {
  border-top: 1px solid black;
  width: 100%;
  font-size: 0.75rem;
  margin: 2rem 0;
}

.footer {
  padding-top: 2rem;
  justify-content: space-between;
}

.footer p {
  margin-left:1.5rem;
}

.footer ul {
  margin-right: 1.5rem;
}
