html {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  font-size: 1rem;
  position: relative;
  top: 4rem;
  padding-bottom: 2rem;
}

h1, h2, h3, h4, .button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}


h1 {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

h3 {
  font-size: 1rem;
}

li {
  padding-left: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #4D62E8;
}

p, .info a {
  padding-top: 0.5rem;
}

cite {
  font-style: italic;
  font-size: 0.75rem;
  float: right;
  padding-top: 0.5rem;
}

strong {
  font-weight: 600;
}

.container {
  width: 960px;
  max-width: 100%;
  margin: 0px auto;
}

.flex {
  display: flex;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 600px) {

  .desktop {
    display: none;
  }
  .mobile {
    display: inherit;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

/* HEADER */

/*NAV */

.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  letter-spacing: 3px;
}

.logo a {
  padding-left: 0.5rem;
}

nav {
  margin-right: 1.5rem;
}

.nav-bar {
  position: fixed;
  z-index: 10;
  background-color: white;
  height: 4rem;
  width: 960px;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {

  nav.mobile {
    width: 100%;
  }

  nav ul {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}


/* BANNER */

.banner {
  background-color: #E8C44D;
  max-width: 100%;
  position: relative;
  top: 4rem;
}

section, .section {
  padding: 2rem 0px;
}

.main-img {
  width: 60%;
  margin: 0px 1.5rem;
}

.main-img img {
  max-width: 100%;
}

.side {
  width: 40%;
  flex-direction: column;
  margin-right: 1.5rem;
}

.slogan {
  align-items: flex-start;
  justify-content: center;
}

.button {
  background-color: black;
  color: white;
  padding: 0.5rem 0px;
  width: 100%;
  text-align: center;
  margin: 1.5rem 0px;
  transition: all 0.25s ease-out;
}

.button:hover {
  background-color: #4D62E8;
}

@media only screen and (max-width: 600px) {

  .banner .container {
    width: 100%;
  }

  .banner .main-img {
    width: 100%;
    margin: 0px;
  }

  .banner .section {
    flex-direction: column;
    padding: 0px;
  }

  .side {
    width: auto;
    margin: 1rem;
  }

  .button {
    padding: 1rem 0px;
  }

}

/* SECTION CAMPUS */

section #campus {
  padding: 1rem 0px;
}

#campus .articles {
  justify-content: space-between;
  border-left: 1px solid #4D62E8;
}

#campus .main-img img {
  margin-bottom: 2rem;
  padding-top: 1rem;
}

#campus h2 {
  text-align: left;
}

.article {
  padding: 1rem;
}

.article:hover {
  background-color: #4D62E8;
  color: white;
  transition: background-color 0.5s ease-in;
}

.article-img {
  width: 35%;
}

.article img {
  max-width: 100%;
}

.info {
  width: 65%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info a {
  color: #E8C44D;
}

@media only screen and (max-width: 600px) {

  #campus .articles {
    border: none;
  }

  #campus .main-img {
    display: none;
  }

  #campus .article {
    flex-direction: column;
    padding: 0px 0px 1.5rem 0px;
  }

  #campus .article-img {
    width: 100%;
    padding-bottom: 2rem;
  }
}

/* SECTION COURSES */

#courses {
  background-color: #FFDD6E;
}

section h2 {
  text-align: center;
}

.courses {
  padding: 2rem 4.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course {
  background-color: white;
  width: 32%;
  margin-bottom: 1rem;
  transition: all 0.25s ease-out;
}

.course:hover {
  color: #4D62E8;
  -webkit-box-shadow: 11px 10px 26px -11px rgba(156,128,36,1);
  -moz-box-shadow: 11px 10px 26px -11px rgba(156,128,36,1);
  box-shadow: 11px 10px 26px -11px rgba(156,128,36,1);
}

.course img {
  max-width: 100%
}

.course-img {
  height: auto;
}

.course-info {
  padding: 1rem;
}

@media only screen and (max-width: 600px) {

  #courses {
    background-color: white;
    padding: 2rem 1rem;
  }

  #courses a h3 {
    padding: 1rem;
    background-color: #FFDD6E;
    margin: 0.5rem 0px;
  }

}

/* EXHIBIT */

#exhibit .article {
  padding-bottom: 1rem;
}

.exhibit {
  padding-top: 1rem;
}

.main-img video {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 600px) {

  #exhibit .article {
    display: none;
  }

  #exhibit .main-img {
    width: 100%;
    margin: 0px;
  }
}

/* FOOTER */

footer {
  border-top: 1px solid black;
  width: 100%;
  font-size: 0.75rem;
  margin: 2rem 0;
}

.footer {
  padding-top: 1rem;
  justify-content: space-between;
}

.footer p {
  margin-left:1.5rem;
}

.footer ul {
  margin-right: 1.5rem;
}
